---
import { pwaInfo } from 'virtual:pwa-info';
import Footer from '../components/Footer.astro';
const { title, description } = Astro.props;
const currentPath = new URL(Astro.url.pathname.includes('portfolio') ? Astro.url.pathname: `/portfolio${Astro.url.pathname}`, 'https://neviaumi.github.io').toString();
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-P59N7RNS');</script>
		<script type="module" src="https://ai-assistant-web-components.pages.dev/portfolio-chat-room.element.js" async defer/>
		<script type="module" src="https://ai-assistant-web-components.pages.dev/portfolio-chat-room-fab.element.js" async defer/>
		<!-- End Google Tag Manager -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, minimal-ui">
		<!--<link rel="manifest" href="/portfolio/manifest.json" />-->
		<link rel="apple-touch-icon" type="image/png" href="/portfolio/icons/192.png"/>
		<link rel="mask-icon" href="/favicon.svg" color="#FFFFFF"/>
		<meta name="msapplication-TileColor" content="#FFFFFF"/>
		<meta name="theme-color" content="#ffffff"/>

		<link rel="icon" type="image/png" href="/portfolio/favicon.png" />
		<link rel="canonical" href={currentPath} />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={currentPath} />

		<link rel="sitemap" href="/portfolio/sitemap-index.xml" />
		{ pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
		<script src="/src/pwa.ts"/>
		<slot name="extra"/>
		<title>{title}</title>
	</head>
	<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P59N7RNS"
					  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
		<slot />
	<Footer ></Footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	html {
		scroll-padding-top: 96px
	}
</style>
