---
import Layout from '../../layouts/Layout.astro';
import {Page, Main} from "../../components/react/PageContainer.tsx"
import NavigationBar from "../../components/react/NavigationBar";
import HeadingSection from "./_components/react/HeadingSection.tsx"
import ServiceListingSection from "./_components/react/ServiceListingSection.tsx"
import GigListingSection, {prepareGigListingProps} from "./_components/react/GigListingSection.tsx"
import query from "./_components/_query.ts"
import cms from "../../cms.ts"
import {listProductWithPrice} from "./_components/_stripe.ts"
import BottomOverlay from "../../components/react/BottomOverlay";

const products = await listProductWithPrice();
const {page } =  await cms.gqlRequest(query).then(data => data.data)
const title = page.title;
const gigs = await prepareGigListingProps(page.gigs);
---

<Layout title={title}>
    <Page>
        <script
                async
                src="https://js.stripe.com/v3/buy-button.js">
        </script>
        <NavigationBar client:load title={title}/>

        <Main>
            <HeadingSection overview={page.overview}/>
            <GigListingSection gigs={gigs}/>
            <ServiceListingSection client:load products={products}/>
            <BottomOverlay/>
        </Main>
    </Page>
</Layout>