---
import {Page, Main} from "../components/react/PageContainer"
import NavigationBar, {DrawerToggleButton} from '../components/react/NavigationBar.tsx';
import WIP from '../components/react/WIP';
import Layout from '../layouts/Layout.astro';
const title = "Page not found"
---

<Layout title={title} description={title}>
    <Page>
        <NavigationBar title={title}>
            <DrawerToggleButton client:load slot="drawer" title={title}/>
        </NavigationBar>
        <Main>
            <WIP/>
        </Main>
    </Page>

</Layout>