---
import Query from "../components/experiences/query.graphql";
import OverlayButtons from "../components/react/OverlayButtons";

import NavigationBar, {DrawerToggleButton} from '../components/react/NavigationBar.tsx';
import WorkTimelineSection from "../components/experiences/react/WorkTimelineSection.tsx"
import Layout from '../layouts/Layout.astro';
import {Page, Main} from "../components/react/PageContainer"
import WorkDetailSection from "../components/experiences/react/WorkDetailSection.tsx"

import cms from "../cms.ts"

const {page} = await cms.gqlRequest(Query).then(data => data.data)
const title = page.title
const experiences = page.experiencesRef.works;
---
<Layout title={title} description="Explore the portfolio of a seasoned software engineer with experience at PlayStation, Emma App, Neat, and HK01. Learn about their expertise in frontend and backend development, and read testimonials from colleagues.">
    <Page>
        <NavigationBar title={title}>
            <DrawerToggleButton client:load slot="drawer" title={title}/>
        </NavigationBar>
        <Main>
            <WorkTimelineSection works={experiences}/>
            <WorkDetailSection works={experiences}/>
            <OverlayButtons client:load/>
        </Main>
    </Page>
</Layout>