---

import NavigationBar from '../components/react/NavigationBar.tsx';
import Layout from '../layouts/Layout.astro';
import {Page, Main} from "../components/react/PageContainer"
import cms from "../cms.ts";
import BottomOverlay from "../components/react/BottomOverlay";
import TableOfContentSection from "../components/faq/react/TableOfContentSection.tsx"
import QuestionAnswerListingSection from "../components/faq/react/QuestionAnswerListingSection.tsx"


import Query from "../components/faq/query.graphql"
const {page} = await cms.gqlRequest(Query).then(data => data.data)
const title = page.title;
const questions = page.questions

---
<Layout title={title} description="Explore the portfolio of a software engineer with a passion for iterative development, team collaboration, and continuous improvement. Learn about their experience, skills, and approach to tackling challenges in software development.">
    <Page>
        <NavigationBar client:load title={title}/>

        <Main sx={{
                display: 'flex',
                flexDirection: 'column',
                gap: 1
                }}>
            <TableOfContentSection questions={questions}/>
            <QuestionAnswerListingSection questions={questions}/>
            <BottomOverlay client:load/>
        </Main>
    </Page>
</Layout>
