---

import NavigationBar, {DrawerToggleButton} from '../components/react/NavigationBar.tsx';
import Layout from '../layouts/Layout.astro';
import {Page, Main} from "../components/react/PageContainer"
import SkillSection from "../components/skills/react/SkillSection.tsx"
import cms from "../cms.ts";
import OverlayButtons from "../components/react/OverlayButtons";

import Query from "../components/skills/query.graphql"
const {page} = await cms.gqlRequest(Query).then(data => data.data)
const title = page.title;
const skills = page.skillsRef.sections;

---
<Layout title={title}>
    <Page>
        <NavigationBar title={title}>
            <DrawerToggleButton client:load slot="drawer" title={title}/>
        </NavigationBar>
        <Main sx={{
            display: 'flex',
            flexDirection: 'column',
            gap: 1
        }}>
            {skills.map(skill => (<SkillSection section={skill}/>))}
            <OverlayButtons client:load/>
        </Main>
    </Page>
</Layout>
