---
import {Page, Main} from "../components/react/PageContainer"
import NavigationBar from '../components/react/NavigationBar.tsx';
import SummarySection from "../components/who-am-i/react/SummarySection.tsx"
import CoreValuesSection from "../components/who-am-i/react/CoreValuesSection.tsx"
import ExperiencesSection from "../components/who-am-i/react/ExperiencesSection.tsx"
import ReferencesSection from "../components/who-am-i/react/ReferencesSection.tsx"
import Query from "../components/who-am-i/query.graphql.ts"
import Layout from '../layouts/Layout.astro';
import cms from "../cms.ts";
const {page} = await cms.gqlRequest(Query,{relativePath: "who-am-i.md"}).then(data => data.data)
const title = page.title
const summary = page.summary;
const coreValues = page.coreValues;
const experiences = page.experiences;
const references = page.references;
const skills = page.skills;
await Promise.all(coreValues.values.values.map((coreValue: {icon: string}) => cms.copyAssetsToLocalFolder(coreValue.icon)))

---

<Layout title={title}>
	<Page>
		<NavigationBar title={title}/>
	<Main sx={{
		display: 'flex',
		flexDirection: 'column',
	}}>
		<SummarySection summary={summary}/>
		<CoreValuesSection heading={coreValues.heading} values={coreValues.values.values}/>
		<ExperiencesSection works={experiences.works}/>
		<ReferencesSection references={references}/>
		<pre >{JSON.stringify(skills, null, 4)}</pre>
	</Main>
	</Page>
</Layout>