---
import {Page, Main} from "../components/react/PageContainer"
import NavigationBar from '../components/react/NavigationBar.tsx';
import SummarySection from "../components/who-am-i/react/SummarySection.tsx"
import SkillsSection from "../components/who-am-i/react/SkillsSection.tsx"
import CoreValuesSection, {prepareCoreValuesProps} from "../components/who-am-i/react/CoreValuesSection.tsx"
import ExperiencesSection from "../components/who-am-i/react/ExperiencesSection.tsx"
import ReferencesSection from "../components/who-am-i/react/ReferencesSection.tsx"
import Query from "../components/who-am-i/query.graphql.ts"
import Layout from '../layouts/Layout.astro';
import cms from "../cms.ts";
const {page} = await cms.gqlRequest(Query,{relativePath: "who-am-i.md"}).then(data => data.data)
const title = page.title
const summary = page.summary;
const {heading: coreValueSectionHeading, values: {values: _coreValues}} = page.coreValues;
const coreValues = await prepareCoreValuesProps(_coreValues);
const experiences = page.experiences;
const references = page.references;
const skills = page.skills.sections;

---

<Layout title={title}>
	<Page>
		<NavigationBar title={title}/>
	<Main sx={{
		display: 'flex',
		flexDirection: 'column',
	}}>
		<SummarySection summary={summary}/>
		<CoreValuesSection heading={coreValueSectionHeading} values={coreValues}/>
		<SkillsSection client:load skills={skills}/>
		<ExperiencesSection works={experiences.works}/>
		<ReferencesSection references={references}/>
	</Main>
	</Page>
</Layout>