---
import {Page, Main} from "../components/react/PageContainer"
import NavigationBar, {DrawerToggleButton} from '../components/react/NavigationBar.tsx';
import SummarySection from "../components/who-am-i/react/SummarySection.tsx"
import SkillsSection from "../components/who-am-i/react/SkillsSection.tsx"
import CoreValuesSection, {prepareCoreValuesProps} from "../components/who-am-i/react/CoreValuesSection.tsx"
import ExperiencesSection from "../components/who-am-i/react/ExperiencesSection.tsx"
import ReferencesSection from "../components/who-am-i/react/ReferencesSection.tsx"
import Query from "../components/who-am-i/query.graphql.ts"
import Layout from '../layouts/Layout.astro';
import cms from "../cms.ts";
import OverlayButtons from "../components/react/OverlayButtons";
const {page} = await cms.gqlRequest(Query).then(data => data.data)
const title = page.title
const summary = page.summary;
const {heading: coreValueSectionHeading, values: {values: _coreValues}} = page.coreValues;
const coreValues = await prepareCoreValuesProps(_coreValues);
const experiences = page.experiences;
const references = page.workReferences.map((ref) => ref.references);
const skills = page.skills.sections;

---

<Layout title={title}>
	<Page>
		<NavigationBar title={title}>
			<DrawerToggleButton client:load slot="drawer" title={title}/>
		</NavigationBar>
	<Main sx={{
		display: 'flex',
		flexDirection: 'column',
	}}>
		<SummarySection summary={summary}/>
		<CoreValuesSection heading={coreValueSectionHeading} values={coreValues}/>
		<SkillsSection client:load skills={skills}/>
		<ExperiencesSection works={experiences.works.slice(0,4)}/>
		<ReferencesSection references={references}/>
		<OverlayButtons client:load/>
	</Main>
	</Page>
</Layout>